{% extends 'donor/base.html' %}
{% block title %} Create a Post {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center text-primary mb-4">Create a New Project</h1>
    <div class="card shadow">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-success btn-lg">Submit Project</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
