@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
  div, p, span, a, button {
    @apply font-body;
  }
}

@layer components{
  .btn {
    @apply px-8 py-3 bg-orange-600 text-white text-lg rounded-[48px] bg-[#d6a352] hover:bg-[#FF9D23]
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Customize navigation buttons */
.swiper-button-prev,
.swiper-button-next {
  display: none;
  padding: 16px;
  color: #d6a352;
  border-radius: 50%;
  transition: color 0.1s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: white;
}

/* Custom pagination dots */
.swiper-pagination-bullet {
  background: white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #d6a352;
}